<section class="h-[calc(100vh-6rem)]" aria-labelledby="section-1-title">
  <div class="h-full overflow-hidden rounded-lg bg-white shadow ">
    <%= form_with(model: [@company, ride], class: "contents") do |form| %>
      <% if ride.errors.any? %>
        <div
          id="error_explanation"
          class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
        >
          <h2><%= pluralize(ride.errors.count, "error") %>
            prohibited this ride from being saved:</h2>

          <ul class="list-disc ml-6">
            <% ride.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="p-6 h-full flex flex-col items-center gap-4">
        <div data-controller="create-ride" class="w-full h-[calc(100%-3rem)]">
          <div data-create-ride-target="map" class="w-full h-full rounded"></div>
        </div>
        <div class="inline">
          <%= form.submit class:
                        "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
